xml/PDS4_HST_1D00_1000.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Name Space Id:hst  Version:1.0.0.0 - Mon Dec 16 15:07:52 EST 2019 -->
  <!-- Generated from the PDS4 Information Model Version 1.13.0.0 - System Build 10a -->
  <!-- *** This PDS4 product schema is an operational deliverable. *** -->
  <!--                                                                           -->
  <!--               Dictionary Stack                                            -->
  <!-- 1.13.0.0 - pds: - Common Dictionary - N/A                                 -->
  <!-- 1.0.0.0 - hst: - Hubble Space Telescope Dictionary Full - ingest_hst_1D00 -->
  <!--                                                                           -->
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/pds4/mission/hst/v1"
    xmlns:hst="http://pds.nasa.gov/pds4/mission/hst/v1"
    xmlns:pds="http://pds.nasa.gov/pds4/pds/v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0.0.0">
 
    <xs:import namespace="http://pds.nasa.gov/pds4/pds/v1" schemaLocation="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1D00.xsd"/>
 
  <xs:annotation>
    <xs:documentation>

    	version 1.0  2019-12-16
        - Initial version
    
    </xs:documentation>
  </xs:annotation>
 
  <xs:element name="HST" type="hst:HST"> </xs:element>

  <xs:complexType name="HST">
    <xs:annotation>
      <xs:documentation>The HST class is a container for all HST and HST
        instrument metadata in the label. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Parameters_General" type="hst:Parameters_General" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="Parameters_ACS" type="hst:Parameters_ACS"> </xs:element>
        <xs:element name="Parameters_WFC3" type="hst:Parameters_WFC3"> </xs:element>
        <xs:element name="Parameters_WFPC2" type="hst:Parameters_WFPC2"> </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Parameters_ACS">
    <xs:annotation>
      <xs:documentation>The Parameters_ACS class provides a container
        for attributes provided by STScI specific to the ACS instrument.
        </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="detector_id" type="hst:detector_id" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="gain_mode_id" type="hst:gain_mode_id" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="observation_type" type="hst:observation_type" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="repeat_exposure_count" type="hst:repeat_exposure_count" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="subarray_flag" type="hst:subarray_flag" minOccurs="1" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="hst:detector_id = ('@@@')"/> -->
    <!-- <xs:assert test="hst:gain_mode_id = ('@@@')"/> -->
    <!-- <xs:assert test="hst:observation_type = ('image', 'spectrum')"/> -->
    <!-- <xs:assert test="hst:subarray_flag = ('@@@')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

  <xs:complexType name="Parameters_General">
    <xs:annotation>
      <xs:documentation>The Parameters_General class provides a contain
        for attributes provided by STScI and common to most instruments.
        </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mast_observation_id" type="hst:mast_observation_id" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="hst_proposal_id" type="hst:hst_proposal_id" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="hst_pi_name" type="hst:hst_pi_name" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="exposure_duration" type="hst:exposure_duration" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="hst_target_name" type="hst:hst_target_name" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="aperture_name" type="hst:aperture_name" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="exposure_type" type="hst:exposure_type" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="filter_name" type="hst:filter_name" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="fine_guidance_system_lock_type" type="hst:fine_guidance_system_lock_type" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="instrument_mode_id" type="hst:instrument_mode_id" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="moving_target_flag" type="hst:moving_target_flag" minOccurs="1" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="hst:exposure_type = ('@@@', '@@@', '@@@', '@@@', 'extended', 'incomplete', 'indeterminate', 'interrupted', 'normal', 'predicted', 'tdf-down at expstart', 'uncertain')"/> -->
    <!-- <xs:assert test="hst:fine_guidance_system_lock_type = ('course', 'fine', 'fine/gyro', 'gyros', 'unknown')"/> -->
    <!-- <xs:assert test="hst:instrument_mode_id = ('accum', 'acq')"/> -->
    <!-- <xs:assert test="hst:moving_target_flag = ('false', 'true')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

  <xs:complexType name="Parameters_WFC3">
    <xs:annotation>
      <xs:documentation>The Parameters_WFC3 class provides a container
        for attributes provided by STScI specific to the WFC3
        instrument. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="detector_id" type="hst:detector_id" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="observation_type" type="hst:observation_type" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="repeat_exposure_count" type="hst:repeat_exposure_count" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="subarray_flag" type="hst:subarray_flag" minOccurs="1" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="hst:detector_id = ('@@@')"/> -->
    <!-- <xs:assert test="hst:observation_type = ('image', 'spectrum')"/> -->
    <!-- <xs:assert test="hst:subarray_flag = ('@@@')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

  <xs:complexType name="Parameters_WFPC2">
    <xs:annotation>
      <xs:documentation>The Parameters_WFPC2 class provides a container
        for additional attributes provided by STScI specific to the
        WFPC2 instrument. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="bandwidth" type="hst:bandwidth" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="center_filter_wavelength" type="hst:center_filter_wavelength" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="targeted_detector_id" type="hst:targeted_detector_id" minOccurs="1" maxOccurs="1"> </xs:element>
      <xs:element name="gain_mode_id" type="hst:gain_mode_id" minOccurs="1" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="hst:targeted_detector_id = ('pc1', 'wf2', 'wf3', 'wf4')"/> -->
    <!-- <xs:assert test="hst:gain_mode_id = ('@@@')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

    <xs:annotation>
      <xs:documentation>This section contains the simpleTypes that provide more constraints
        than those at the base data type level. The simpleTypes defined here build on the base data
        types. This is another component of the common dictionary and therefore falls within the
        common namespace.
      </xs:documentation>
    </xs:annotation>

  <xs:simpleType name="aperture_name">
    <xs:annotation>
      <xs:documentation>The STScI name of the aperture used for the
        observation. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="bandwidth_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="bandwidth">
    <xs:annotation>
      <xs:documentation>The full width of the spectral bandpass, in
        microns. Zero if unknown. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hst:bandwidth_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="center_filter_wavelength_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="center_filter_wavelength">
    <xs:annotation>
      <xs:documentation>The approximate central wavelength of the filter
        bandpass, in microns. Zero if unknown. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hst:center_filter_wavelength_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Length" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="detector_id">
    <xs:annotation>
      <xs:documentation>An abbreviated name or acronym which identifies
        the instrument's detector used for this observation. Since WFPC2
        generally uses all four of it's detectors, this field is not
        applicable to WFPC2 observations. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="exposure_duration_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="exposure_duration">
    <xs:annotation>
      <xs:documentation>The total duration of the observation, in
        seconds. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hst:exposure_duration_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Time" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="exposure_type">
    <xs:annotation>
      <xs:documentation>The exposure setting used in the
        observation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="filter_name">
    <xs:annotation>
      <xs:documentation>The name of the filter(s) used for the
        observation. If two overlapping filters, or a filter and
        polarizer are used, then both names are given, separated by a
        plus sign '+'.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fine_guidance_system_lock_type">
    <xs:annotation>
      <xs:documentation>The state of the fine guidence sensor on HST.
        Possible values are fine, coarse, gyros, fine/gyro, and
        unknown.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gain_mode_id">
    <xs:annotation>
      <xs:documentation>The gain state of the
        instrument.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="hst_pi_name">
    <xs:annotation>
      <xs:documentation>The name of the principal investigator for this
        HST program, in the form 'last, first, middle initial'
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:UTF8_Text_Preserved">
     <xs:minLength value="1"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="hst_proposal_id">
    <xs:annotation>
      <xs:documentation>The numeric identifier of the proposal or
        observing program, as assigned by Space Telescope Science
        Institute. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="hst_target_name">
    <xs:annotation>
      <xs:documentation>The target of the observation as defined by the
        principal investigator. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="instrument_mode_id">
    <xs:annotation>
      <xs:documentation>The operating mode of the instrument. Possible
        values are accum and acq</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mast_observation_id">
    <xs:annotation>
      <xs:documentation>An identifier for a particular group of data
        files in the STScI archive. In the HST FITS labels the value is
        given by the keyword ASN_ID, short for association ID. Certain
        HST products can only be requested in a group, even though they
        are different products as far as we are concerned. This is the
        9-character ID that identifies how they are found in the MAST
        archive. you can retrieve the associated files from STScI by
        entering this ID into the box found on this page:
        archive.stsci.edu/cgi-bin/dataset_lookup/ </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="moving_target_flag">
    <xs:annotation>
      <xs:documentation>Flag (true, false) indicating whether or not the
        telescope pointing was based on tracking a moving
        target.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Boolean">
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="observation_type">
    <xs:annotation>
      <xs:documentation>The type of the observation, e.g., image or
        spectrum. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="repeat_exposure_count">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="subarray_flag">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="targeted_detector_id">
    <xs:annotation>
      <xs:documentation>Indicates which WFPC2 detector was
        preferentially used for the camera pointing.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>
</xs:schema>
